@font-face {
  font-family: "zabars";
  src: url("fonts/zabars.ttf") format("truetype");
}
body {
  margin:0;
}

#fullscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/desert-5112222_1280.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "zabars", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
  margin-top: 16px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 4px;
}

canvas {
  display: block;
}

.subtextContainer {
  display: flex;
  width: 720px;
  justify-content: center;
  gap: 51px;
  margin-top: 8px;
  margin-bottom:8px;
  padding: 8px;
  font-size: 22px;
  font-weight: bold;
  background-color: black;
  color: rgb(255, 206, 21);
  border-radius: 5px;
  letter-spacing: 2px;
  text-align: center;
  box-sizing: border-box
}

.subtext {
  display:flex;
  align-items: center;
  gap: 16px;
}

.keyIcon {
  border-radius: 4px;
  border: 1px solid rgb(255, 206, 21);
  display: flex;
  text-align: center;
  font-weight: 1;
  width: 24px;
  justify-content: center;
  align-items: center;
}

.padding_2 {
  padding-left: 2px;
  padding-top: 2px
}

button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: rgb(255, 206, 21);
  font-size: 48px;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: rgb(255, 206, 21) 4px solid;
  width: 20%;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  z-index: 999;
  text-align: center;
}

#startButton {
  top: 30%;
}

#reStartButton {
  top: 75%;
}

button:hover {
  background-color: darkred;
}

.reStartButton {
  top: 75%;
}

.icon {
  height: 24px;
  margin: 16px;
}

a {
  color: rgb(199,103,88);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.impressum {
  flex-direction: column;
  padding: 32px;
  margin: 16px;
}
 .returnToIndex {
  display:flex;
  justify-content: center;
  align-items: center;
 }

 .full {
  height: 32px;
  position:absolute;
  bottom: 17%;
  right: 25%;
 }

 .full:hover {
  cursor: pointer;
 }

 .hover {
  cursor:pointer;
 }

 .d-none {
  display:none;
 }

 #subtextMobileLower {
  display: none;
}

#subtextMobileUpper {
  display: none;
}

 /*--------------Smartphones---------------*/

 @media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .subtextContainer {
    width: 100%;
  }

  h1 {
    display: none;
  }

  #subtext {
    display: none;
  }

  #subtextMobileUpper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #subtextMobileLower {
    display: flex;
    width:100%;
    justify-content: space-evenly;
    gap: 8px;
    position: absolute;
    bottom: 0;
  }
  
  .keyIcon {
    width: 36px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom:4px;
    background-color: rgb(255, 206, 21);
  }

  button {
    position: absolute;
    left: 50%;
    font-size: 24px;
    padding: 10px;
    width: 20%;
  }
  
  #startButton {
    top: 30%;
  }
  
  #reStartButton {
    top: 20%;
  }

}

  @media only screen and (max-height: 480px) {
    canvas {
      height: 100vH;
    }

 }